<footer class="p-8 mt-12">
  <div class="container">
    <div class="justify-between sm:flex">
      <div class="block mt-1 text-sm text-center text-gray-600 sm:text-left sm:inline-block sm:mt-0 sm:ml-3">Made with ♡ by the volunteers behind <a href="https://designtocombatcovid19.com">Design to Combat COVID-19</a>.</div>

      {% if build.eleventyEnv === "development" %}
        <div class="mt-4 sm:mt-0">
          <a class="block text-center sm:inline-block text-gray-500 text-sm hover:text-gray-900 mt-3 sm:mt-0 sm:ml-6" href="/debug/">debug</a>
        </div>
      {% endif %}
    </div>
  </div>
</footer>
