<footer class="p-8 px-8 mt-12 sm:px-10 md:px-12">
  <div class="md:flex">
    <div class="justify-between flex-1 min-w-0 pb-10 sm:flex">
      <div class="block mt-0 text-3xl font-light sm:text-4xl sm:inline-block xl:ml-4">
        <p class="">Made with ♡ by volunteers from<br /><a class="border-b border-black" href="https://designtocombatcovid19.com">Design to Combat COVID-19</a>.</p>
      </div>
    </div>
    <div class="flex pb-8 pr-6 mt-4 sm:pb-0 sm:py-6 md:py-0 md:mt-3 md:ml-4">
      <div class="block text-xl font-light">
        <p class="pb-5 sm:pt-1"></p>
        <p class="pb-5"><a class="border-b border-black hover:text-gray-500" href="/data-pre/locations.json">Get the raw data</a></p>
      </div>
    </div>
  </div>
</footer>
