<header class="bg-indigo-lightest py-8 mt-12">
  <div class="container px-6 mx-auto my-16 text-center sm:my-32">
      <h1 class="text-5xl font-black leading-none text-gray-900 sm:leading-tight sm:text-6xl">
        {{ title }}
      </h1>
      <p class="mt-4 mb-0 text-xl font-medium text-gray-700 sm:mt-2">
        {{ subtitle }}
      </p>
    </div>
</header>