<header class="px-8 pt-6 pb-3 sm:px-16">
  <div class="h-full ml-auto mr-auto">
    <div class="flex h-full">
      <div>
        <h1 class="mb-4 text-xl font-bold tracking-wide xl:pt-2 sm:text-3xl sm:font-medium xl:font-medium xl:text-3xl xl:tracking-wider">
          {{ title }}
        </h1>
      </div>
    </div>
  </div>
</header>