{%- set absolutePageUrl -%}{{ page.url | url | absoluteUrl(meta.url) }}{%- endset -%}

{# Meta Tags #}
<meta name="description" content="{{ description or meta.description }}">
<meta property="og:title" content="{{ title or meta.title }}">
<meta property="og:description" content="{{ description or meta.description }}">
<meta property="og:url" content="{{ absolutePageUrl }}">

{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

{# RSS Feed #}
{# <link type="application/atom+xml" rel="alternate" href="{{ meta.url }}/feed.xml" title="{{ meta.title }}"> #}