<div class="bg-blue">
  <div class="px-8 py-3 mx-auto sm:px-10 md:px-12">
    <div class="flex flex-wrap">
      <span class="w-full italic font-normal lg:tracking-wide xl:ml-5 md:w-2/12 lg:text-l xl:text-xl">
        <p>Updated {{ build.timestamp | dateToFormat("LL/dd/yy") }}</p>
      </span>
      <p class="pt-1 md:pt-0">
        <span class="sm:hidden" aria-hidden="true">
          <a class="border-b border-black" href="https://www.apple.com/covid19/">Screen yourself</a> before making an appointment to get tested.
        </span>
        <span class="hidden font-normal lg:tracking-wider lg:text-lg xl:text-xl md:w-10/12 sm:inline">
          Testing situations change daily. <a class="border-b border-black" href="https://www.apple.com/covid19/">Screen yourself</a> before making an appointment to get tested.
        </span>
      </p>
    </div>
  </div>
</div>