<div class="bg-blue">
  <div class="px-8 py-3 mx-auto sm:px-10 md:px-12">
    <div class="flex flex-wrap">
      <span class="w-full italic font-normal lg:tracking-wide lg:text-lg xl:ml-5 md:w-2/12 lg:text-l xl:text-xl">
        <p>Updated {{ build.timestamp | dateToFormat("LL/dd/yy") }}</p>
      </span>
      <p class="pt-1 md:pt-0">
        <span class="sm:hidden" aria-hidden="true">
          Our database is out of date. We recommend using the <a class="border-b border-black" href="https://www.giscorps.org/covid-19-testing-site-locator/">GISCORPS testing site locator</a> at this time.
        </span>
        <span class="hidden font-normal lg:tracking-wider lg:text-lg xl:text-xl md:w-10/12 sm:inline">
          Our database is out of date. We recommend using the <a class="border-b border-black" href="https://www.giscorps.org/covid-19-testing-site-locator/">GISCORPS testing site locator</a> at this time.
        </span>
      </p>
    </div>
  </div>
</div>
