---
layout: base
title: COVID-19 Testing Locations
subtitle: Locations and requirements for testing in the United States.
buttonName: Self Test
buttonUrl: /self-test/
buttonSecondName: Submit New Location
buttonSecondUrl: /submit/
---

<div id="testing-list">
  <div class="flex pt-10 pb-2 mx-8 bg-white border-b-2 border-gray-300 xl:pt-20 xl:pb-0 sm:mx-12 xl:mx-16">
    <span class="items-center justify-end w-auto pt-1 sm:pt-2 xl:pt-12 xl:pl-8">
      <svg width="32" height="43" xmlns="http://www.w3.org/2000/svg"><g stroke="#272727" stroke-width="2" fill="none" fill-rule="evenodd"><circle cx="14.452" cy="14.452" r="13.452"/><path d="M22.898 26.502l8.358 10.929"/></g></svg>
    </span>
    <input class="w-full px-2 font-thin rounded-sm search focus:outline-none focus:bg-gray-100 xl:pl-10 text-l sm:text-2xl xl:text-7xl xl:tracking-wide" type="search" autocomplete="on" autocorrect="on" aria-label="Search by city or state in the USA." placeholder="Which city or state do you live in?">
  </div>

  <div class="flex">
    <div class="pt-4 xl:pt-24 list">

      {%- for location in collections.locations -%}
        <div class="flex flex-wrap px-12 -mx-4 overflow-hidden text-1.5xl font-light border-b border-gray-500 border-dashed xl:px-16 xl:py-4">
          <div class="w-1/2 pl-4 pr-3 my-4 overflow-hidden sm:w-2/12">
            <p class="font-medium state">{{ location.data.state }}</p>
            <p class="hood">{{ location.data.hood }}</p>
            <p class="hidden city" aria-hidden="true">{{ location.data.city }}</p>
          </div>

          <div class="w-1/2 pr-4 my-4 overflow-hidden sm:w-3/12">
            <a class="" href="{{ location.data.mapUrl }}"><address class="not-italic address"><span class="font-medium">{{ location.data.title }}</span><br/>{{ location.data.address }}<br/>{{ location.data.city }}, {{ location.data.stateAbbr }} {{ location.data.zip }}</address></a>
          </div>

          <div class="w-1/2 px-4 my-4 overflow-hidden sm:w-2/12">
            <p class="font-medium days">{{ location.data.days }}</p>
            <p class="hours">{{ location.data.hours }}</p>
            <p class="font-medium altDays">{{ location.data.altDays }}</p>
            <p class="altHours">{{ location.data.altHours }}</p>
            <p class="font-medium alt2Days">{{ location.data.alt2Days }}</p>
            <p class="alt2Hours">{{ location.data.alt2Hours }}</p>
          </div>

          <div class="w-1/2 px-3 my-4 overflow-hidden sm:w-3/12">
            {% if location.data.closed === true %}
              <p class="font-medium closed text-red">CLOSED FOR TESTING</p>
              <p class="closed text-red">Last updated {{ location.data.closedUpdate }}.</p>
            {% else %}
              <p class="font-medium location-type">{{ location.data.locationType }}</p>
              <p class="notes">{{ location.data.notes }}</p>
            {% endif%}
          </div>

          <div class="w-1/2 pl-3 pr-4 my-4 overflow-hidden sm:w-2/12">
            {% if (location.data.ctaUrl) %}
              <a class="border-b border-black learn-more hover:text-gray-700 hover:border-gray-700" href="{{ location.data.ctaUrl }}">{{ location.data.ctaMessage }}</a>
            {% else %}
              <p class="text-gray-600 no-contact">{{ location.data.ctaMessage }}</p>
            {% endif%}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
  var options = {
    valueNames: [ 'state', 'hood', 'city' ]
  };
  var testingList = new List('testing-list', options);
</script>

{# {% include "cta.njk" %} #}