---
layout: base
title: COVID-19 Testing Locations
subtitle: Locations and requirements for testing in the United States.
buttonName: Self Test
buttonUrl: /self-test/
buttonSecondName: Submit New Location
buttonSecondUrl: /submit/
---

<div id="testing-list">
  <div class="bg-white mx-8 sm:mx-12 pt-10 pb-2 flex border-b">
    <span class="w-auto justify-end items-center text-gray-900 pt-1 sm:pt-2">
      {# <p class="text-xl font-bold">Search</p> #}
      <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
    </span>
    <input class="search outline-none w-full rounded px-2 text-xl sm:text-2xl text-gray-900 " type="search" autocomplete="on" autocorrect="on" aria-label="Search by city or state in the USA." placeholder="Which state or city do you live in?">
  </div>

  <div class="flex">
    <div class="list pt-4">

      {%- for location in collections.locations -%}
        <div class="flex flex-wrap -mx-4 overflow-hidden px-12 border-b border-dashed border-gray-500">
          <div class="my-4 pl-4 pr-3 w-1/2 overflow-hidden sm:w-2/12">
            <p class="state font-bold">{{ location.data.state }}</p>
            {# <p class="state font-bold">Rhode Island</p> #}
            <p class="city font-normal">{{ location.data.hood }}</p>
          </div>

          <div class="my-4 pl-10 pr-4 w-1/2 overflow-hidden sm:w-3/12">
            {# TODO: Link to apple/google maps on click/tap #}
            {# <address class="address not-italic">Carbon Health<br/>2110 Sunset Blvd Suite M<br/>Los Angeles, CA 90026</address> #}
            <a href="{{ location.data.mapUrl }}"><address class="address not-italic"><span class="font-bold">{{ location.data.title }}</span><br/>{{ location.data.address }}<br/>{{ location.data.city }}, {{ location.data.stateAbbr }} {{ location.data.zip }}</address></a>
          </div>

          <div class="my-4 px-4 w-1/2 overflow-hidden sm:w-2/12">
            <p class="location-type font-bold">{{ location.data.locationType }}</p>
            <p class="days">{{ location.data.days }}</p>
            <p class="hours">{{ location.data.hours }}</p>
            <p class="altDays">{{ location.data.altDays }}</p>
            <p class="altHours">{{ location.data.altHours }}</p>
            <p class="alt2Days">{{ location.data.alt2Days }}</p>
            <p class="alt2Hours">{{ location.data.alt2Hours }}</p>
          </div>

          <div class="my-4 px-3 w-1/2 overflow-hidden sm:w-3/12">
            <p class="notes">{{ location.data.notes }}</p>
          </div>

          <div class="my-4 pl-3 pr-4 w-1/2 overflow-hidden sm:w-2/12">
            {% if (location.data.ctaUrl) and (not location.data.closed) %}
              <a class="learn-more" href="{{ location.data.ctaUrl }}">{{ location.data.ctaMessage }}</a>
            {% elif (location.data.ctaUrl) and (location.data.closed) %}
              <a class="closed text-red-600" href="{{ location.data.ctaUrl }}">{{ location.data.ctaMessage }}</a>
            {% elif location.data.closed %}
              <p class="closed text-red-600">{{ location.data.ctaMessage }}</p>
            {% else %}
              <p class="no-contact text-gray-600">{{ location.data.ctaMessage }}</p>
            {% endif%}
            {# <p class=""><a href="tel:310-544-6858">310-544-6858</a></p> #}
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

<script>
  var options = {
    valueNames: [ 'state', 'city' ]
  };
  var testingList = new List('testing-list', options);
</script>

{% include "cta.njk" %}