---
layout: base
pagination:
  data: locations
  size: 1
  alias: location
permalink: "locations/{{ location.State | slug }}/{{ location.City | slug }}/{{ location.Name | slug }}/"
tags: loc
renderData:
  title: "{{ location.Name }}"
---

<h1>{{ location.Name }}</h1>
<p>{{ location.State }}</p>